#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    background-color: #495F41;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #9FB4C7;
}
body {
    background-color: #9FB4C7;
    font-family: Arial, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #9FB4C7;
}
nav a:hover {
    background-color: #1F487E;
    color: white;
}
.book, .join {
    background-color: #495F41;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #1F487E;
    color: white;
}
.msg {
    background-color: #9FB4C7;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #9FB4C7;
    color: #32210f;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #32210f;
    text-decoration: none;
}
footer a:hover{
    color: #1F487E;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    color: #1F487E;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #1F487E;
}
.msg h2 {
    color: #1F487E;
}
.msg p {
    color: #32210f;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 300px;
}
.icon {
    width: 80px;
}
.mountains {
    margin: 100px;
}
header {
    font-family: Georgia, sans-serif, Verdana;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .canyons-card, .and-more-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}